@use '@/styles/common.scss' as *;

.searchForm {
  :global {
    // 设置input的提示字体颜色]
    .ant-input::placeholder {
      color: #8d9dad;
    }
  }
}

.form-wrap {
  display: flex;
  align-items: center;
  column-gap: 8px;
  .input-box {
    flex: 1;
  }
}

.pagination {
  display: flex;
  align-items: center;
  column-gap: 15px;
  justify-content: flex-end;
  .page {
    color: rgb(87, 87, 87);
    font-size: 14px;
  }
  .jump {
    color: rgb(87, 87, 87);
    font-size: 14px;
  }
  .vertical-line {
    height: 25px;
    width: 2px;
    background-color: rgb(238, 238, 238);
    // margin: 0 5px;
  }
  .jump-box {
    display: flex;
    align-items: center;
    column-gap: 9px;
  }
}
.prePage {
  &:disabled,
  &[data-disabled] {
    border-color: rgb(233, 233, 233);
    background-color: transparent;
  }
}