@use '@/styles/common.scss' as *;

.container {
  display: flex;
  .menu {
    padding: 20px;
    width: 280px;
    border-right: 1px solid #e6e8eb;
    // 因为默认是content-box，所以高度=你上面设置了padding+100vh，就不对了，要减去
    // 但是后来引入了mantine，要引入它那个样式文件，里面全局改成了border-box，又不减了
    height: calc(100vh);
    .menu-list {
      position: relative;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      .active-ine {
        position: absolute;
        height: 73.4px;
        width: 5px;
        background-color: #3662e3;
        top: 73.4px;
        left: -3px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.3s;
      }
      .menu-item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding: 15px 12px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          background-color: #f9fbfe;
        }
        &.active {
          background-color: #f0f6fe;
          border-radius: 8px;
          box-shadow: 0px 2px 3px #ebebeb;
          .menu-icon {
            color: #3662e3;
          }
          .menu-title {
            color: #3662e3;
          }
        }
        .menu-icon {
          font-size: 19px;
          color: #5a5f6d;
        }
        .menu-content {
          display: flex;
          flex-direction: column;
          row-gap: 1px;
          min-width: 0px;
          .menu-desc {
            font-size: 13px;
            color: #5a5f6d;
            @include overEllipsis;
          }
        }
      }
    }
  }
  .content {
    flex: 1;
    background-color: #f9fafb;
    padding: 20px 25px;
    height: 100vh;
    overflow-y: scroll;
    .noPadding {
      padding: 0px;
    }
  }
}